*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
}

/* text gradient  */

.gradient-text {
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.gradient-text-2{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}